{% extends "layout.html" %}
{% block container %}
<div class="container">
  <div class="row" >
    <div class="col-md-9" >
      <div class="video-container" >
        <div class="video-container-header">
          <h1 id="title" >PPAP Pen-Pineapple-Apple-Pen</h1>
        </div>
        <div class="video-container-wrapper embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/oWRuNtUacxQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="col-md-3" >
      <div class="sidebar-container" >
        {% include "controller.html" %}
        <div class="queue-container">
          <h3 class="queue-container-header">Pessoas na fila</h3>
          <div id="queue-list" class="queue-container-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
