{% extends "layout.html" %}
{% block container %}
<div class="container">
  <div class="row" >
    <div class="col-md-9" >
      <div class="video-container" >
        <div class="video-container-header">
          <h1 id="title" >Transmissão</h1>
          <img class="transmission-img" src="{{ image }}" ></img>
          <audio class="transmission-controls"
                 id="audio-stream"
                 preload="none"
                 autoplay
                 controls >
            <source src="http://tachyon.shoutca.st:8106/espelho.ogg" type="audio/ogg">
            <p>Seu navegador não suporta do HTML5.</p>
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
