<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title>Espelho Sonoro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}" />
</head>

<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Espelhos Sonoros</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/soundMapping">Mapeamento Sonoro</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="/about">Sobre</a></li>
      </ul>
    </div>
  </div>
  {% block container %}
  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/infinity/0.2.2/infinity.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2PJY61U_oha8c38oR-18xRFw2OD5dMeM"></script>
  <script src="{{ url_for('static', filename='js/application.js') }}" ></script>
</body>
</html>
