.video-list {
  border: 1pt solid red;
  height: 100%;
  overflow: scroll;
}

.video-map {
  height: 600px;
  border: 1pt solid black;
}

.transmission-img {
  width: 100%;
}

.transmission-controls {
  width: 100%;
}

.carousel-inner > .item {
  height: 400px;
}

.carousel-inner > .item > img {
  height: 100%;
  margin: auto;
}

.about-sponsors-img {
  width: 100%;
}

.bandcamp-embedded-player {
  border: 0;
  height: 42px;
  width: 100%;
}
